<div class="container-fluid header-text">
    <nav class="navbar navbar-default navbar-fixed-top">
        <h3 class="navbar-text v-center hidden-xs" id="nav-header">
            <i class="fa fa-tree" aria-hidden="true"></i>
            Hike Buddy</h3>
        <div class="pull-right">
            <a href="#" type="button" class="btn btn-default navbar-btn">Home</a>
            <a href="#/about" type="button" class="btn btn-default navbar-btn">About</a>
            <a href="#/login" type="button" class="btn btn-default navbar-btn">Login</a>
        </div>
    </nav>
</div>

<img src="../../images/DSC_8850.jpg" class="bg">

<div class="container-fluid home-info">
    <div class="home-text">
        <h1 class="header-text">About This Site</h1>
        <h3 class="body-text">This website was created as my final project for Northeastern University's Web Development class.
            It's a work in progress, so please excuse the clutter!</h3>
        <h3 class="body-text">All trail information is sourced from the <a href="https://market.mashape.com/trailapi/trailapi">Trails API.</a>
        Note that this database is incomplete; not all trails will have detailed information and coordinates. I'll look into incorporating
        other publicly available trail databases in the future!</h3>
        <h3 class="body-text">Weather information is courtesy of <a href="https://darksky.net/">DarkSky</a>.</h3>
        <h3 class="body-text">Embedded maps courtesy of Google. I hope to add a dynamic map search in the future as well!</h3>
        <h3 class="body-text">And finally, you can view my personal website <a href="http://ec2-54-209-14-215.compute-1.amazonaws.com:3000/#/home">here!</a></h3>
        <h1 class="header-text">Happy hiking!</h1>
    </div>

</div>
