<div class="container-fluid header-text">
    <nav class="navbar navbar-default navbar-fixed-top hidden-xs">
        <a href="#/home">
            <h3 class="navbar-text v-center" id="nav-header">
                <i class="fa fa-tree" aria-hidden="true"></i>
                Hike Buddy
            </h3>
        </a>
        <div class="pull-right btn-toolbar">
            <h4 class="navbar-text v-center hidden-sm hidden-xs">Welcome {{model.currentUser.firstName}} {{model.currentUser.lastName}}!</h4>
            <a href="#/user/{{model.currentUser._id}}" type="button" class="btn btn-default navbar-btn fa fa-user">
                <span class="header-text">&nbsp Profile</span>
            </a>
            <a href="#/search/{{model.currentUser._id}}" type="button" class="btn btn-default navbar-btn fa fa-search">
                <span class="header-text">&nbsp Search Trails</span>
            </a>
            <a href="#/user/{{model.currentUser._id}}/favorites" type="button" class="btn btn-default navbar-btn fa fa-star">
                <span class="header-text">&nbsp Favorites</span>
            </a>
        </div>
    </nav>
</div>

<div class="container-fluid header-text">
    <nav class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg hidden-sm">
        <div class="btn-toolbar">
            <div class="pull-left">
                <a href="#/home" type="button" class="btn btn-default navbar-btn fa fa-home"></a>
            </div>
            <div class="pull-right">
                <a href="#/user/{{model.currentUser._id}}" type="button" class="btn btn-default navbar-btn fa fa-user"></a>
                <a href="#/search/{{model.currentUser._id}}" type="button" class="btn btn-default navbar-btn fa fa-search"></a>
                <a href="#/user/{{model.currentUser._id}}/favorites" type="button" class="btn btn-default navbar-btn fa fa-star"></a>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid col-xs-12">
    <h1 class="header-text h-center">Search for Trails</h1>
    <form class="body-text">
        <div class="row">
            <div class="col-xs-3 v-center">
                <h4 class="body-text h-center">Country:</h4>
            </div>
            <div class="col-xs-9 v-center">
                <select
                        class="btn btn-secondary dropdown-toggle"
                        ng-options="country as country.name for country in model.countries" ng-model="selected"
                        ng-change="model.search.country=selected.name">

                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 v-center">
                <h4 class="body-text h-center">State:</h4>
            </div>
            <div class="col-xs-9 v-center">
                <select
                        class="btn btn-secondary dropdown-toggle"
                        ng-options="state as state.state for state in selected.states"
                        ng-model="selectedState" ng-change="model.search.state=selectedState.state">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 v-center h-center">
                <h4 class="body-text">Activity:</h4>
            </div>
            <div class="col-xs-9 v-center">
                <select class="btn btn-secondary dropdown-toggle" ng-model="model.search.activity" placeholder="Activity" class="form-control">
                    <option value="hiking">Hiking</option>
                    <option value="mountain biking">Mountain Biking</option>
                    <option value="camping">Camping</option>
                    <option value="caving">Caving</option>
                    <option value="trail running">Trail Running</option>
                    <option value="snow sports">Snow Sports</option>
                    <option value="horseback riding">Horseback Riding</option>
                    <option value="atv">ATV</option>
                    <option value="water sports">Water Sports</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 v-center">
                <h4 class="body-text h-center">City:</h4>
            </div>
            <div class="col-xs-9 v-center">
                <input ng-model="model.search.city" type="text" placeholder="City" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 v-center">
                <h4 class="body-text h-center">Trail Name:</h4>
            </div>
            <div class="col-xs-9 v-center">
                <input ng-model="model.search.trailName" type="text" placeholder="Trail Name" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 v-center">
                <h4 class="body-text h-center">Search Radius (miles):</h4>
            </div>
            <div class="col-xs-9 v-center">
                <input ng-model="model.search.radius" type="number" placeholder="Search Radius (miles)" class="form-control">
            </div>
        </div>
        <a ng-click="model.getTrails()" class="btn btn-primary btn-block">
            <i class="fa fa-search"></i><b>&nbsp Search</b>
        </a>
    </form>
</div>

<div class="col-md-6 col-xs-4 ">
    <h2 class="header-text">Search Results</h2>
    <div ng-show="model.loading">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
    <div class="scroll body-text">
        <div ng-repeat="place in model.searchResults track by $index">
            <h3>
                <a ng-click="model.viewInfo(place)">{{place.name}}</a>
            </h3>
        </div>
    </div>
</div>

<div class="col-md-6 col-xs-8">
        <h2 class="header-text v-center">Trail Details
            <span ng-show="!model.favorited" ng-hide="model.favorited==null || model.favorited"
                  ng-click="model.addTrailToUser(model.trail)" class="add-favorite-button pull-right hidden-xs">
                <i class="fa fa-star-o"></i>
                <span class="header-text">Add to Favorites</span>
            </span>
            <span ng-show="model.favorited"
                  ng-click="model.removeTrailFromUser(model.trail)" class="remove-favorite-button pull-right hidden-xs">
                <i class="fa fa-star"></i>
                <span class="header-text">Remove from Favorites</span>
            </span>
            <span ng-show="!model.favorited" ng-hide="model.favorited==null || model.favorited"
                  ng-click="model.addTrailToUser(model.trail)" class="add-favorite-button pull-right hidden-sm hidden-md hidden-lg">
                <i class="fa fa-star-o"></i>
            </span>
            <span ng-show="model.favorited"
                  ng-click="model.removeTrailFromUser(model.trail)" class="remove-favorite-button pull-right hidden-sm hidden-md hidden-lg">
                <i class="fa fa-star"></i>
            </span>
        </h2>
</div>

    <div class="scroll body-text">

        <h2 class="header-text">Name:</h2>
        <h4>{{model.trail.name}}</h4>
        <h3 class="header-text">Description:</h3>
        <p>{{model.trail.description}}</p>
        <h3 class="header-text">Directions:</h3>
        <p>{{model.trail.directions}}</p>
        <h3 class="header-text">Available activities:</h3>
        <div ng-repeat="activity in model.trail.activities">
            <div ng-show="model.activitiesAlert" class="alert alert-info body-text" role="alert">{{model.activitiesAlert}}</div>
            <h4>{{activity.activity_type_name}}</h4>
            <p ng-bind-html="activity.description"></p>
        </div>
        <h3 class="header-text">Favorited by:</h3>
        <div ng-show="model.alert" class="alert alert-info" role="alert">{{model.alert}}</div>
        <div ng-repeat="user in model.trail.userList track by $index">
            <div class="clearfix" ng-if="$index % 4 == 0"></div>
            <div class="col-sm-3">
                 <a class="body-text" href="#/user/{{model.currentUser._id}}/viewprofile/{{user._id}}">
                    {{user.firstName}} {{user.lastName}}
                     <div back-img="{{user.picture}}"></div>
                 </a>
            </div>
        </div>
    </div>
</div>
