extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li This is Vy's site
    li IT'S WORKING
    li
      a(href="https://github.com/nguyenvyl/nguyen-vy-webdev") THIS IS MY SICK REPO
    li
      a(href="/test") CHECK OUT MY TESTS Y'ALL


  h1 Login
  form
    div.input
      name username
      placeholder username
      type text
    div.input
      name password
      placeholder password
      type password
