extends layout_nosticky
// If you want to convert Jade to html, run this: ./node_modules/jade-cli/index.js ./views/profile.jade --pretty
block content
  div.jumbotron
    h1 Welcome to Vy's site!
    p This is the portal to my web development projects for class CS5610.
    a.btn-block.btn-primary.btn-lg(href="https://github.com/nguyenvyl/nguyen-vy-webdev") Github
    a.btn-block.btn-primary.btn-lg(href="/user/login") Assignment 2 Login Page
  img.img-responsive.footerImage(src='http://i.imgur.com/c0Vwj45.png')

