extends layout
// If you want to convert Jade to html, run this: ./node_modules/jade-cli/index.js ./views/profile.jade --pretty
block content
  h1= title
  p Welcome to #{title}
  ul
    li This is Vy's site
    li IT'S WORKING
    li
      a(href="https://github.com/nguyenvyl/nguyen-vy-webdev") Github
    li
      a(href="/user/login") Assignment 2 Login Page

