doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
    //link(rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css")
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
  body
    h1 Test header from layout.jade

    block content
