doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
    meta(id="meta", name="viewport", content="width=device-width", initial-scale="1.0", user-scalable="no")
  body
    div.container-fluid
      block content
