extends layout_nosticky
block content
    h1 Login
    form
        input.form-control(id='username',type='text', placeholder='username',name='username')
        br
        input.form-control(id='password',type='password', placeholder='password',name='password')
    button.btn.btn-primary.btn-block(type='button') Login
    br
    button.btn.btn-success.btn-block(type='button') Register




