<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <icon></icon>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <nav class="navbar navbar-fixed-top blue">
      <div class="navbar-header">
        <div class="navbar-brand"></div>
      </div>
    </nav>
    <div class="container-fluid">
      <form>
        <label for="username">Username</label>
        <input id="username" type="text" placeholder="my_username" name="username" class="form-control">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="my_email@email.com" name="email" class="form-control">
        <label for="firstname">First Name</label>
        <input id="firstname" type="firstname" placeholder="my_firstname@firstname.com" name="firstname" class="form-control">
        <label for="lastname">Last Name</label>
        <input id="lastname" type="lastname" placeholder="my_lastname@lastname.com" name="lastname" class="form-control">
      </form><a type="button" class="btn btn-primary btn-block">Websites</a><a type="button" class="btn btn-danger btn-block">Logout</a>
    </div>
    <nav class="navbar navbar-fixed-bottom blue">
      <div class="navbar-header">
        <div class="navbar-brand">
          <div class="navbar"></div><span class="glyphicon glyphicon-user"></span>
        </div>
      </div>
    </nav>
  </body>
</html>