extends layout_bluesticky

block content
    form
        label(for='username') Username
        input.form-control(id='username',type='text', placeholder='my_username',name='username')
        label(for='email') Email
        input.form-control(id='email',type='email', placeholder='my_email@email.com',name='email')
        label(for='firstname') First Name
        input.form-control(id='firstname',type='firstname', placeholder='my_firstname@firstname.com',name='firstname')
        label(for='lastname') Last Name
        input.form-control(id='lastname',type='lastname', placeholder='my_lastname@lastname.com',name='lastname')
    a.btn.btn-primary.btn-block(type='button') Websites
    a.btn.btn-danger.btn-block(type='button') Logout
