extends layout

block content
    form
        div Username
        input(id='username',type='text', placeholder='my_username',name='username')
        div Email
        input(id='email',type='email', placeholder='my_email@email.com',name='email')
        div First Name
        input(id='firstname',type='firstname', placeholder='my_firstname@firstname.com',name='firstname')
        div Last Name
        input(id='lastname',type='lastname', placeholder='my_lastname@lastname.com',name='lastname')
    button(type='button') Websites
    br
    button(type='button') Logout
