extends layout

block content
    h1 Register
    form
        input(id='username',type='text', placeholder='username',name='username')
        input(id='password',type='password', placeholder='password',name='password')
        input(id='verifypw',type='verifypw', placeholder='verify password',name='verifypw')
    button(type='button') Register
    button(type='button') Cancel
