extends ../layout_nosticky
block content
    h1 Login
    form
        input.form-control(id='username',type='text', placeholder='username',name='username')
        br
        input.form-control(id='password',type='password', placeholder='password',name='password')
    a.btn.btn-primary.btn-block(href='profile', type='button') Login
    br
    a.btn.btn-success.btn-block(href='register', type='button') Register




