

body {
    padding: 50px 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-top: 30px;
}



h1{
    padding-bottom: 7px;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
}

a.list-group-item{
    color: #4286f4;
}

.btn-block{
    margin-top: 7px;
    margin-bottom: 7px;
}

li {
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: large;
}

input {
    margin-bottom: 7px;
}

textarea.form-control{
    height: 8em;
}

.verticalLine {
    width:1px;
    background-color: lightgray;
    left: 33%;
    position: absolute;
    z-index: 5;
    top:0;
    bottom: 0;
}


.v-divider{
    margin-left:5px;
    margin-right:5px;
    width:1px;
    height:100%;
    border-left:1px solid gray;
}


.footerImage{
    position: fixed;
    left: 50%;
    margin-right: -50%;
}

.delete {
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.delete:after {
    content: '';
    position:absolute;
    top:0;
    right:0;
    height: 20px;
    width: 20px;
}

.whiteIcon{
    color: white;
}

.widgetItem{
    position: relative;
}

.widgetEdit{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    vertical-align: middle;
    display: inline-block;
    z-index: 2;
    float: right;
}

.hiddenMenu{
    border-right-color: lightgray;
}

.widgetIcon{
    font-size: large;
    padding: 5px 5px 5px 5px;
}


.grayIcon{
    color: #777;
}

.blue{
    background-color: #4286f4;
    color: white;
}


.blueIcon{
    color: #4286f4;
}

#blueIcon:hover{
    color: #23527c;
}


.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ta-editor{
    height: 8em;
}

#widgetFormatted{
    width: 15px; /*Desired width*/
    height: 15px; /*Desired height*/
}

.nav-home-tab{
   border-bottom-color: white;
   border-bottom-width: thick;
}

#nav-header{
    font-size: large;
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

.open-sans.small{
    font-size: small;
}

.ubuntu{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5em;
}

.home-container{
    padding: 0px 50px 50px 50px;
}


.pic-30{
    width: 30%;
    height: auto;
}

.pic-60{
    width: 60%;
    height: auto;
}

.row.project-row{
    margin-bottom: 50px;
}

.v-center{
    display: inline-block;
    vertical-align: middle;
    float: none;
}



/*.cross-fade {*/
    /*position:relative;*/
    /*!*height:281px;*!*/
    /*!*width:450px;*!*/
    /*margin:0 auto;*/
/*}*/

/*.cross-fade img {*/
    /*position:absolute;*/
    /*left:0;*/
    /*-webkit-transition: opacity 1s ease-in-out;*/
    /*-moz-transition: opacity 1s ease-in-out;*/
    /*-o-transition: opacity 1s ease-in-out;*/
    /*transition: opacity 1s ease-in-out;*/
/*}*/

/*.corss- img.top:hover {*/
    /*opacity:0;*/
/*}*/

.image-button{
    position: relative;
    width: 100%;
    text-align: -webkit-center;
}

.fade{
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}
.fade:hover {
    opacity: 0.8;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

