body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 30px;
}

a {
  color: #00B7FF;
}

.sticky {
  background-color: #F8F8F8;
  color: #7E7E7E;
  position: fixed;
  font-size: x-large;
  font-weight: bold;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: 20px;
  padding: 19px;
}

.stickyFooter {
  background-color: #F8F8F8;
  color: #7E7E7E;
  position: fixed;
  font-size: x-large;
  font-weight: bold;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 20px;
  padding: 19px;
}


.blue{
  background-color: #4286f4;
  color: white;
}
