body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 30px;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

.whiteIcon{
  color: white;
}

#blueIcon{
  color: #4286f4;
}

.grayIcon{
  color: #777;
}

.blue{
  background-color: #4286f4;
  color: white;
}
