<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="glyphicon glyphicon-chevron-left grayIcon"></a>
            &nbsp<b>Edit Widget</b>
        </div>
        <div class="navbar-brand pull-right">
            <a ng-click="model.editYOUTUBE(model.widget.url, model.widget.width)" class="glyphicon glyphicon-ok grayIcon"></a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <form>
        <label for="ytName">Name</label>
        <input id="ytName" type="text" class="form-control">
        <label for="ytText">Text</label>
        <input id="ytText" type="text" class="form-control">
        <label for="ytURL">URL</label>
        <input ng-model="model.widget.url" id="ytURL" type="url" class="form-control">
        <div ng-show="model.alert" class="alert alert-danger" role="alert">{{model.alert}}</div>
        <label for="ytWidth">Width</label>
        <input ng-model="model.widget.width" id="ytWidth" type="text" class="form-control">
        <a ng-click="model.deleteWidget(model.widgetId)" type="button" class="btn btn-danger btn-block">Delete</a>
    </form>
</div>

