
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="glyphicon glyphicon-chevron-left grayIcon"></a>
            &nbsp<b>Edit Widget</b>
        </div>
        <div class="navbar-brand pull-right">
            <a ng-click="model.editHTML(model.widget.text)" class="glyphicon glyphicon-ok grayIcon"></a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.alert" class="alert alert-danger" role="alert">{{model.alert}}</div>
    <label for="imgName">Name</label>
    <input ng-model="model.widget.name" id="imgName" type="text" name="imgName" placeholder="Widget Name" class="form-control">
    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[
                      ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
                      ['bold','italics','underline','strikeThrough'],
                      ['ul','ol'],
                      ['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                      ['indent','outdent'],
                      ['html']
                      ]"
         ta-toolbar-class="btn-toolbar"
         ta-toolbar-group-class="btn-group"
         ta-toolbar-button-class="btn btn-default"
         ta-toolbar-active-button-class="active">
    </div>
    <br>
    <br>
    <a ng-click="model.deleteWidget(model.widgetId)" type="button" class="btn btn-danger btn-block">Delete</a>
</div>


  <!--<form>-->
    <!--<label for="widgetText">Text</label>-->
    <!--<input ng-model="model.widget.text" id="widgetText" type="text" name="widgetText" placeholder="Your HTML here" class="form-control">-->
  <!--</form>-->

