
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand"><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="glyphicon glyphicon-chevron-left grayIcon"></a>&nbsp<b>Edit Widget</b></div>
        <div class="navbar-brand pull-right">
            <a ng-click="model.editHEADER(model.widget.text, model.widget.size)" class="glyphicon glyphicon-ok grayIcon"></a>
        </div>
    </div>
</nav>
    <div class="container-fluid">
      <form> 
        <label for="widgetName">Name</label>
        <input ng-model="model.widget.name" id="widgetName" type="text" placeholder="Heading Name" class="form-control">
        <label for="widgetText">Text</label>
        <input ng-model="model.widget.text" id="widgetText" type="text" placeholder="Your heading here" class="form-control">
        <div ng-show="model.alert" class="alert alert-danger" role="alert">{{model.alert}}</div>
        <label for="widgetSize">Size</label>
        <input ng-model="model.widget.size" id="widgetSize" type="number" placeholder="3" class="form-control">
          <a ng-click="model.deleteWidget(model.widgetId)" type="button" class="btn btn-danger btn-block">Delete</a>
      </form>
    </div>
