extends ../layout
block content
    form
        div Name
        input(id='websiteName',type='text', placeholder = 'The website name', name='websiteName')
        div Description
        textarea(id='description',type='description', placeholder = 'The website description',name='description')

