extends ../layout_bluesticky
block variables
    - var headIconRight = 'glyphicon glyphicon-ok'
    - var headIconLeft = 'glyphicon glyphicon-chevron-left'
    - var rightIconLink = 'list'
    - var leftIconLink = 'list'
block content
    p this is website-list