extends ../layout_bluesticky
block variables
    - var headIconRight = 'glyphicon glyphicon-plus'
    - var headIconLeft = 'glyphicon glyphicon-chevron-left'
    - var rightIconLink = 'new'
    - var leftIconLink = '../user/profile'
block content
    div.list-group
        div.list-group-item
            a(href='../pages/list') Placeholder App
            a.glyphicon.glyphicon-cog.pull-right(href='edit')
        div.list-group-item
            a(href='../pages/list') We'll fill this from Mongo later
            a.glyphicon.glyphicon-cog.pull-right(href='edit')
        div.list-group-item
            a(href='../pages/list') ithinkincomics.wordpress.com
            a.glyphicon.glyphicon-cog.pull-right(href='edit')
        div.list-group-item
            a(href='../pages/list') My Blog
            a.glyphicon.glyphicon-cog.pull-right(href='edit')
        div.list-group-item
            a(href='../pages/list') Delicious Food App
            a.glyphicon.glyphicon-cog.pull-right(href='edit')
        div.list-group-item
            a(href='../pages/list') Dog Pics App
            a.glyphicon.glyphicon-cog.pull-right(href='edit')

