extends ../layout
block content
    form
        div Name
        input(id='websiteName',type='text' ,name='websiteName')
        div Description
        textarea(id='description',type='description', name='description')
     

