extends ../layout_bluesticky
block content
    form
        label(for='websiteName') Name
        input(id='websiteName',type='text' ,name='websiteName',class="form-control")
        label(for='description') Description
        textarea(id='description',type='description', name='description',class="form-control")
     

