<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top ubuntu">
        <span class="navbar-text v-center" id="nav-header">The Website of Vy Nguyen</span>
        <ul class="nav nav-pills pull-right ">
            <li><a href="#1">Home</a></li>
            <li><a href="#/home/about">About</a></li>
            <li><a href="#/home/projects">Projects</a></li>
            <li><a href="https://www.linkedin.com/in/vylnguyen" class="fa fa-linkedin" aria-hidden="true"></a></li>
            <li><a href="https://github.com/nguyenvyl" class="fa fa-github" aria-hidden="true"></a></li>
            <li><a href="https://ithinkincomics.com/" class="fa fa-wordpress" aria-hidden="true"></a></li>
        </ul>
    </nav>
</div>

<div class="container-fluid home-container">
    <h1 class="text-center ubuntu">About Me</h1>

    <img class="img-responsive center-block pic-30" src="../../images/dog.png">

    <h2 class="text-center ubuntu">Student • Cartoonist • Dev in Training</h2>

    <p class="open-sans text-center">Hi, my name is Vy Nguyen. I'm a master's student in computer
        science at Northeastern University's Seattle campus. </p>
    <hr>
    <h3 class="ubuntu">My Background</h3>

    <p class="open-sans">I spent 4 years of my life completing a BS in biology with a minor in art.</p>

    <p class="open-sans">  During my undergrad, I spent over a year interning at various pharmaceutical research companies,
        including <a href="http://www.takeda.us/">Takeda Pharmaceuticals</a> and
        <a href="https://www.sanofigenzyme.com/">Sanofi-Genzyme Corporation.</a> My time there made one thing clear:
         biology (and most fields) needed more programmers. Traditional research and healthcare are often
        legions behind in technology. Integrating a little computer science into these fields, I found, could allow people
        to spend less time wrangling technology and more time on their jobs.</p>

    <p class="open-sans">So, I entered Northeastern University's ALIGN program, designed for students without a programming background
         to obtain a master's degree in CS.</p>
    <hr>
    <h3 class="ubuntu">Present</h3>
    <p class="open-sans">I'm in the second year of my master's program, set to graduate in late 2017. I'm also
        currently employed at Group Health Cooperative. I'm loving computer science so far! </p>
    <hr>
    <h3 class="ubuntu">Thanks for Reading!</h3>
    <p class="open-sans">Feel free to look around my site, view <a href="#/home/projects">projects</a> I've worked on, or read some of my <a href="https://ithinkincomics.com/">silly
    cartoons.</a> Thanks again!</p>
</div>

