<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top ubuntu">
        <span class="navbar-text v-center" id="nav-header">The Website of Vy Nguyen</span>
        <ul class="nav nav-pills pull-right ">
            <li><a href="#1">Home</a></li>
            <li><a href="#/home/about">About</a></li>
            <li><a href="#/home/projects">Projects</a></li>
            <li><a href="https://www.linkedin.com/in/vylnguyen" class="fa fa-linkedin" aria-hidden="true"></a></li>
            <li><a href="https://github.com/nguyenvyl" class="fa fa-github" aria-hidden="true"></a></li>
            <li><a href="https://ithinkincomics.com/" class="fa fa-wordpress" aria-hidden="true"></a></li>
        </ul>
    </nav>
</div>

<div class="container-fluid home-container">
    <div class="row project-row">
        <div class="col-xs-4">
            <a href="http://ec2-54-209-14-215.compute-1.amazonaws.com:3000/#/login">
                <img class="img-responsive center-block img-circle pic-60 fade" src="../images/pexels-photo-196655.jpeg">
            </a>
        </div>
        <div class="col-xs-8 v-center">
            <h2 class="ubuntu">
                <a href="http://ec2-54-209-14-215.compute-1.amazonaws.com:3000/#/login">Web App Maker</a>
            </h2>
            <p class="open-sans small">A website created for Northeastern University's Web Development
                course. This site allows users to register an account and create their own custom
             webpages. Utilizes the MEAN stack (MongoDB, ExpressJS, AngularJS, NodeJS) and is deployed
            on an Amazon Web Services EC2 instance.</p>
        </div>
    </div>
    <div class="row project-row">
        <div class="col-xs-4">
            <img class="img-responsive center-block img-circle pic-60 fade" src="../images/rainier-hiking.jpg">
        </div>
        <div class="col-xs-8 v-center">
            <h2 class="ubuntu">Hiking Buddy</h2>
            <p class="open-sans small">My final project for Northeastern University's Web Development
             course. Work in progress, coming soon!</p>
        </div>
    </div>

</div>

