extends ../layout

block content
    form 
        label(for='widgetName') Name
        input.form-control(id='widgetName',type='text' ,name='widgetName')
        label(for='widgetText') Text
        input.form-control(id='widgetText',type='text' ,name='widgetText', placeholder='Autofill heading')
        label(for='widgetSize') Size
        input.form-control(id='widgetSize',type='number' ,name='widgetSize', placeholder='3')
    br
    button.btn.btn-danger.btn-block(type='button') Delete