extends ../layout

block content
    form 
        div Name
        input(id='widgetName',type='text' ,name='widgetName')
        div Text
        input(id='widgetText',type='text' ,name='widgetText', placeholder='Autofill heading')
        div Size
        input(id='widgetSize',type='number' ,name='widgetSize', placeholder='3')
    br
    button(type='button') Delete