extends ../layout
block variables
    - var headIconRight = 'glyphicon glyphicon-ok'
    - var headIconLeft = 'glyphicon glyphicon-chevron-left'
    - var rightIconLink = 'list'
    - var leftIconLink = 'list'
block content
    form
        label(for='imgName') Name
        input.form-control(id='imgName',type='text',name='imgName')
        label(for='imgText') Text
        input.form-control(id='imgText',type='text',name='imgText')
        label(for='imgURL') URL
        input.form-control(id='imgURL',type='url',name='imgURL')
        label(for='imgWidth') Width
        input.form-control(id='imgWidth',type='number',name='imgWidth')
        label(for='imgUpload') Upload
        input.form-control(id='imgUpload',type='file',name='imgUpload', class="form control")
        a.btn.btn-primary.btn-block(type='button') Upload Image
        a.btn.btn-danger.btn-block(href='list',type='button') Delete