extends ../layout_widget
block variables
    - var headIconRight = 'glyphicon glyphicon-plus'
    - var headIconLeft = 'glyphicon glyphicon-chevron-left'
    - var rightIconLink = 'choose'
    - var leftIconLink = '../pages/list'
block content
    div.container-fluid
        ul
            li.widgetItem
                span.widgetEdit
                    a.glyphicon.glyphicon-cog.blueIcon.widgetIcon(href='heading')
                    a.glyphicon.glyphicon-menu-hamburger.grayIcon.widgetIcon
                h1 An accurate depiction of me this semester
            li.widgetItem
                span.widgetEdit
                    a.glyphicon.glyphicon-cog.blueIcon.widgetIcon(href='image')
                    a.glyphicon.glyphicon-menu-hamburger.grayIcon.widgetIcon
                img.img-responsive(src='https://ithinkincomics.files.wordpress.com/2016/03/post-202-image-15.jpg?w=521&h=698')
            li.widgetItem
                span.widgetEdit
                    a.glyphicon.glyphicon-cog.blueIcon.widgetIcon
                    a.glyphicon.glyphicon-menu-hamburger.grayIcon.widgetIcon
                p K-pop videos are fun. If you want to see a guy do a pretty good dance in the middle of a desert, check out the video below.
            li.widgetItem
                span.widgetEdit
                    a.glyphicon.glyphicon-cog.blueIcon.widgetIcon(href='youtube')
                    a.glyphicon.glyphicon-menu-hamburger.grayIcon.widgetIcon
                div.embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src="https://www.youtube.com/embed/Oz3mm3tPKfg" frameborder="0" allowfullscreen)
