extends ../layout
block variables
    - var headIconRight = 'glyphicon glyphicon-ok'
    - var headIconLeft = 'glyphicon glyphicon-chevron-left'
    - var rightIconLink = 'list'
    - var leftIconLink = 'list'
block content
    form
        label(for='ytName') Name
        input.form-control(id='ytName',type='text',name='ytName')
        label(for='ytText') Text
        input.form-control(id='ytText',type='text',name='ytText')
        label(for='ytURL') URL
        input.form-control(id='ytURL',type='url',name='ytURL')
        label(for='ytWidth') Width
        input.form-control(id='ytWidth',type='number',name='ytWidth')
        a.btn.btn-danger.btn-block(href='list',type='button') Delete
