extends ../layout

block content
    form
        label(for='ytName') Name
        input.form-control(id='ytName',type='text',name='ytName')
        label(for='ytText') Text
        input.form-control(id='ytText',type='text',name='ytText')
        label(for='ytURL') URL
        input.form-control(id='ytURL',type='url',name='ytURL')
        label(for='ytWidth') Width
        input.form-control(id='ytWidth',type='number',name='ytWidth')
    button.btn.btn-danger.btn-block(type='button') Delete
