extends ../layout

block content
    h1 THIS IS A TEST. IS CSS WORKING??
    form
        div Name
        input(id='imgName',type='text',name='imgName',class="form-control")
        div Text
        input(id='imgText',type='text',name='imgText',class="form-control")
        div URL
        input(id='imgURL',type='url',name='imgURL',class="form-control")
        div Width
        input(id='imgWidth',type='number',name='imgWidth',class="form-control")
    button(type='button') Delete
