extends ../layout
block content
    form
        label(for='pageName') Name
        input.form-control(id='pageName',type='text', placeholder='Page Name' ,name='pageName')
        label(for='pageTitle') Title
        textarea.form-control(id='pageTitle',type='pageTitle',placeholder='Page Title', name='pageTitle')
        a.btn.btn-danger.btn-block(href='list',type='button') Delete
        br

     

