extends ../layout
block variables
    - var headIconRight = 'glyphicon glyphicon-ok'
    - var headIconLeft = 'glyphicon glyphicon-chevron-left'
    - var rightIconLink = 'new'
    - var leftIconLink = 'list'
block content
    form
        div Name
        input.form-control(id='pageName',type='text', placeholder='Page Name' ,name='pageName')
        div Title
        textarea.form-control(id='pageTitle',type='pageTitle',placeholder='Page Title', name='pageTitle')
     

