extends ../layout
block content
    form
        div Name
        input(id='pageName',type='text', placeholder='Page Name' ,name='pageName')
        div Title
        textarea(id='pageTitle',type='pageTitle',placeholder='Page Title', name='pageTitle')
     

