    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-brand">
            <a href="#/user/{{model.userId}}/website" class="glyphicon glyphicon-chevron-left grayIcon"></a>
            &nbsp<b>Pages</b>
        </div>
        <div class="navbar-brand pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="glyphicon glyphicon-plus grayIcon"></a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="list-group">
          <div ng-repeat="page in model.pages">
              <div class="list-group-item">
                  <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
                  <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="glyphicon glyphicon-cog pull-right"></a>
              </div>
          </div>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-brand pull-right"><a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user blueIcon"></a></div>
      </div>
    </nav>
