    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="col-sm-4 hidden-xs">
            <div class="container-fluid">
              <div class="navbar-brand"><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/" class="glyphicon glyphicon-chevron-left grayIcon"></a>&nbsp<b>Pages</b></div>
              <div class="navbar-brand pull-right"><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="glyphicon glyphicon-plus grayIcon"></a></div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="container-fluid">
              <div class="navbar-brand"><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="hidden-sm hidden-md hidden-lg glyphicon glyphicon-chevron-left grayIcon"></a>
                <span class="hidden-sm hidden-md hidden-lg">&nbsp</span>
                <b>Edit Page</b></div>
              <div class="navbar-brand pull-right">
                <a ng-click="model.updatePage(model.page.name, model.page.title)" class="glyphicon glyphicon-ok grayIcon"></a>
              </div>
            </div>
          </div>
        </nav>
        <div class="verticalLine hidden-sm hidden-xs"></div>

      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <div class="container-fluid">
            <div class="list-group">
              <div ng-repeat="page in model.pages">
                <div class="list-group-item">
                  <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
                  <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}" class="glyphicon glyphicon-cog pull-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-8">
          <div class="container-fluid">
            <form>
              <label for="pageName">Name</label>
              <input ng-model="model.page.name" id="pageName" type="text" placeholder="Page Name" class="form-control">
              <label for="pageTitle">Title</label>
              <textarea ng-model="model.page.title" id="pageTitle" type="text" placeholder="Page Title" class="form-control"></textarea>
              <a ng-click="model.deleteWidget(model.pageId)" type="button" class="btn btn-danger btn-block">Delete</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom blues">
      <div class="container-fluid">
        <div class="navbar-brand pull-right">
          <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user blueIcon"></a></div>
      </div>
    </nav>
